{
  "branches": [
    "master",
    "main"
  ],
  "tagFormat": "v${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "type": "docs",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "test",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "linkReferences": false,
        "linkCompare": false,
        "preset": "conventionalcommits",
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        },
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": "Bug Fixes",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "Documentation",
              "hidden": false
            },
            {
              "type": "style",
              "section": "Styles",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": "Code Refactoring",
              "hidden": false
            },
            {
              "type": "perf",
              "section": "Performance Improvements",
              "hidden": false
            },
            {
              "type": "test",
              "section": "Tests",
              "hidden": false
            },
            {
              "type": "ci",
              "section": "Continuous Integration",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "Miscellaneous Chores",
              "hidden": false
            },
            {
              "type": "revert",
              "section": "Revert",
              "hidden": false
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "@semantic-release/gitlab",
      {
        "gitlabUrl": "https://git.fr.clara.net",
        "assets": [
          "CHANGELOG.md"
        ]
      }
    ],
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": true,
        "markdownReleaseNotes": true,
        "onSuccessTemplate": {
          "text": "New Azure TF module release",
          "blocks": [
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": ":dancing-tofu: New :azure3: <$repo_url|module $package_name> *$npm_package_version* version out! :dancing-tofu:"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "Module path: $repo_path"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "$release_notes"
              }
            }
          ]
        }
      }
    ]
  ]
}
